# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
df = black_friday

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    resposta_q1 = df.shape
    return resposta_q1
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    resposta_q2 = df.query('Gender == "F" & Age == "26-35"').shape[0]
    return resposta_q2
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    resposta_q3 = df['User_ID'].nunique()
    return resposta_q3
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    resposta_q4 = df.dtypes.nunique()
    return resposta_q4
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    resposta_q5 = ((df.shape[0] - df.dropna().shape[0]) / df.shape[0])
    return resposta_q5
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    resposta_q6 = df.isna().sum().max()
    return int(resposta_q6)
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    resposta_q7 = df['Product_Category_3'].value_counts(dropna = True).idxmax()
    return resposta_q7
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    normalizacao = ((df['Purchase'] - df['Purchase'].min()) / (df['Purchase'].max() - df['Purchase'].min()))
    resposta_q8 = normalizacao.mean()
    return float(resposta_q8)
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    padronizacao = ((df['Purchase'] - df['Purchase'].mean()) / df['Purchase'].std())
    resposta_q9 = ((padronizacao >= -1) & (padronizacao <= 1)).sum()
    return int(resposta_q9)
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    if (df['Product_Category_2'].isna().all()) == (df['Product_Category_3'].isna().all()):
        resposta_q10 = True
    else:
        resposta_q10 = False
    return resposta_q10
    pass