In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
#Moda
moda = df.groupby('estado_residencia')['pontuacao_credito'].aggregate(lambda x: x.mode()).astype('float').sort_index(ascending=False)
moda.rename("moda", inplace = True)

estado_residencia
SC    850.0
RS    850.0
PR    850.0
Name: moda, dtype: float64

In [5]:
#Mediana
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median().astype('float').sort_index(ascending=False)
mediana.rename("mediana", inplace = True)

estado_residencia
SC    653.0
RS    650.0
PR    650.0
Name: mediana, dtype: float64

In [6]:
#Media
media = df.groupby('estado_residencia')['pontuacao_credito'].mean().astype('float').sort_index(ascending=False)
media.rename("media", inplace = True)

estado_residencia
SC    649.537653
RS    651.105143
PR    648.961294
Name: media, dtype: float64

In [7]:
#Desvio Padrao
desvio_padrao = df.groupby('estado_residencia')['pontuacao_credito'].std().astype('float').sort_index(ascending=False)
desvio_padrao.rename("desvio_padrao", inplace = True)

estado_residencia
SC    97.233493
RS    95.136598
PR    98.607186
Name: desvio_padrao, dtype: float64

In [8]:
#Concatenar
aux = pd.concat([moda, mediana, media, desvio_padrao], axis = 1)

In [9]:
#Sa√≠da arquivo json
aux.to_json('submission.json', orient='index')